<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/master.css">
  <title>Todo List</title>
</head>

<div id="myDIV" class="header">
  <h1>Todo List</h1>
  <form class="" action="/" method="post">
    <input type="text" value="" name="todo" id="myInput" placeholder="Todo...">
    <input class="addBtn" type="submit" value="Submit">
  </form>
</div>

<div id="myUl">
  <h2>Current Tasks</h2>
  {{#todos}}
  <form class="" action="/completed" method="post">
      <button class="completeButton" type="submit" name="button" value="{{id}}">Delete</button>
      <h3>{{task}}</h3>
    </form>
    <form class="edit" action="/edit" method="post">
      <input type="text" name="edit" value="" placeholder="update">
      <button type="submit" name="editbutton" value="{{id}}">Update</button>
    </form>
    {{/todos}}
</div>

</body>

</html>

<!-- <ul>
  <input class="checkbox" type="checkbox" name="checkbox"> {{.}}</input>
</ul> -->
